# Config file
# The config is environment-specific, and should not be checked-in to git.
.env

# Public directory for generated static files.
# If you change this directory in the config, be sure to change it here too.
public/
