:root {
  /* Typography */
  --font-size: 16px;
  --font-family: sans-serif;
  --font-family-monospace: monospace;
  --line-height: 1.55;
  --text-decoration-style: normal;

  /* Colors (HSL) */
  --color-primary: 217, 71%;
  --color-info: 204, 71%;
  --color-success: 141, 53%;
  --color-warning: 48, 100%;
  --color-danger: 348, 86%;

  /* Element modifiers */
  --table-border-color: rgba(0, 0, 0, 0.2);
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--font-size);
  font-family: var(--font-family);
  box-sizing: border-box;
}

body {
  line-height: var(--line-height);
  font-size: 100%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Typography */

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
  margin: 2.75rem 0 1rem;
  line-height: 1.15;
}

h1 {
  font-size: 3.052em;
}

h2 {
  font-size: 2.441em;
}

h3 {
  font-size: 1.953em;
}

h4 {
  font-size: 1.563em;
}

h5 {
  font-size: 1.25em;
}

small {
  font-size: 0.8em;
}

/* Elements */

a {
  color: inherit;
  text-decoration-style: var(--text-decoration-style);
  text-decoration-skip-ink: auto;
  text-underline-offset: 3px;
  text-decoration-thickness: 2px;
}

p {
  margin-bottom: 1.25em;
}

code {
  font-family: var(--font-family-monospace);
}

/* Tables */

table td,
table th,
.table td,
.table th {
  padding: 0.5em 0.75em;
  vertical-align: top;
  border: 1px solid var(--table-border-color);
  border-width: 0 0 1px;
}

table th,
.table th {
  font-weight: bold;
  border-width: 0 0 2px;
}

table th:not([align]),
.table th:not([align]) {
  text-align: left;
}

/* Other styles */

main {
  padding: 3em;
}

.tota-logo {
  width: 75px;
  height: 75px;
}
