<!doctype html>
<html lang="{{ language }}">
  <head>
    {{> head }}
  </head>
  <body>
    <main>
      <h1>All posts</h1>
      <ul class="posts">
      {{#posts}}
        <li class="post">
          <a href="{{{path}}}">
            {{title}}
          </a>
        </li>
      {{/posts}}
      </ul>
    </main>
  </body>
</html>
